{% extends 'index1.html' %}
{% load crispy_forms_tags %}
{% block title %}
        player
{% endblock %}
{% block content %}
<br>
<div class="card col-12">
    <div class="card-header">
        <h3 class="card-title">Details Of Player</h3></div>
        <button><a href="{% url 'addplayer' %}">Add Data</a></button>
    </div>
    <div class="card-body">
        <table id="example1" class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Age</td>
                    <td>Gender</td>
                    <td>SportsName</td>
                    <td>ContactNumber</td>
                </tr>
            </thead>
            <tbody>
                {% for data in players %}
                <tr>
                    
                    <td>{{ data.Name }}</td>
                    <td>{{ data.Age }}</td>
                    <td>{{ data.Gender }}</td>
                    <td>{{ data.SportsName }}</td>
                    <td>{{ data.ContactNumber }}</td>

                    <td>
                        <a href="{% url 'updateplayer' data.id %}" class="btn btn-success"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'deleteplayer' data.id %}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                
                    </td>
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}